.landingpage{
    position: relative;
    width: 100%;
    height: 89vh;
}

.landing_page{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.landing_title{
    position: absolute;
    bottom: 15%;
    right: 10%;
    color: wheat;
    font-size: 4rem;
    padding: 15px;
}