/* .App{
background-color: rgb(235, 220, 226);
min-height: 100vh;

font-size: 1rem;
color: rgb(7, 0, 0);
} */
/* 
.table{
text-align: center;

  display: flex;
  flex-direction: column;
  
} */

/* h2{
  color: rgb(26, 1, 1);
  background-color: rgb(247, 235, 237);
  text-align: center;
  padding: 30px;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
} */
/* 
.menu-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(205, 197, 226);
  padding: 30px;
  flex-wrap: wrap;
}

.menu-ul{
  align-self: flex-start;
  display: flex;
  padding-bottom: 5px;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

.menu-li{
  margin: auto 5px;
  font-weight: bold;
  list-style: none;
  
} */

/* nav{
  margin: 0;
  padding: 0;
  
} */